<?xml version="1.0" encoding="UTF-8"?>
<launch>
	
	 <!-- Launch custom world Gazebo  -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="$(find lamb_sim)/worlds/office.world"/>
		<arg name="paused" value="false"/>
		<arg name="gui" value="true"/>
	</include>

	<!-- Publish fixed transforms -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 			respawn="false" output="screen">
		<remap from="/joint_states" to="/robot/joint_states" />
	</node>

	<!-- Launch the car -->
	<include file="$(find lamb_sim)/launch/spawn.launch" />

</launch>
